{% extends "app/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'app/js/scripts.js' %}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
{% endblock %}
{% block title %}Reservation Profile{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="m-2"><img src="{% static 'app/images/logo.png' %}" alt=""></div>

</nav>
    {% include "app/components/reservation_profile_form.html" %}
{% endblock %}
