{% extends "app/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'app/js/scripts.js' %}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
{% endblock %}
{% block title %}Success{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{response.message}}!</h2>
        <ul>
            <li>Reference: {{ response.reservation_reference }}</li>
            <li>Hotel: {{ response.hotel }}</li>
            <li>Total Payable: {{ response.total_payable }}</li>
            <li>Check-in: {{ response.check_in }}</li>
            <li>Check-out: {{ response.check_out }}</li>
            <li>Confirmation Time: {{ response.confirmation_time }}</li>
        </ul>
        <a href="{% url 'make_reservation' %}" class="btn btn-primary">Go to Home</a>
    </div>
{% endblock %}